<!DOCTYPE html>
<html>
    <head>
        <title>Admin Registration</title>
        <link rel="stylesheet" href="style.css"> 
        <style>
            .error-container {
                 background-color: #ffdddd;
                 border: 1px solid #f44336;
                 color: #d8000c;
                 padding: 10px;
                 margin-bottom: 15px;
                 border-radius: 6px;
                 text-align: center;
                 font-weight: bold;
            }

        </style>
    </head>
    <body>
        <h1>Registration form</h1>
        
        <form id="register" onsubmit="return validateForm()" onreset="resetErrors() " method="post" action="/adminRegistration">
        <p>
            <label for="name">Admin Name:</label>
            <input type="text" id="name" name="adminName">
            <span id="name-error" class="error-message"></span>
        </p>
        <p>
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
            <span id="email-error" class="error-message"></span>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <span id="password-error" class="error-message"></span>
        </p>
        <p>
            <input type="submit" value="Register" name="Submit">
            <input type="reset" value="Reset" name="Reset">
        </p>
        </form>
        <script src="script.js"></script>
    </body>
</html>