<!DOCTYPE html>
<html>
    <head>
        <title>Edit User Details</title>
        <link rel="stylesheet" href="/edit.css">
    </head>
    <body>
        <div class="edit">
            <h2>Editing User Details with User: <%=user.userName%></h2>
            <form method="post" action="/admin/user/<%= user.id %>?_method=Patch">
                <label for="userName">UserName:</label>
                <input type="text" name="userName" id="userName" required><br>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required><br><br>
                <button class="edit-btn">Edit</button>
            </form>
        </div>
    </body>
</html>