<!DOCTYPE html>
<html>
    <head>
        <title>Feedback Form</title>
        <link rel="stylesheet" href="feedback.css">
    </head>
    <body>
        <form id="feedbackForm" method="post" action="/feedback">
            <h2>Feedback</h2>
            <div class="feedbackType">
                <h4>Select your type of Feedback</h4>
                <label for="productRadio" >Product</label>
                <input type="radio" name="typeofCategory" value="product" id="productRadio"required>
                <label for="serviceRadio" >Service</label>
                <input type="radio" name="typeofCategory" value="service" id="serviceRadio"required>
            </div>
            <br>
            <div class="productType" style="display: none;">
                <label for="productCategory">Choose Product Type</label>
                <select name="categoryName" id="productCategory" required>
                    <option value="" disabled selected>Select</option>
                    <option value="iPhone">iPhone</option>
                    <option value="iPad">iPad</option>
                    <option value="Mac Book">Mac Book</option>
                    <option value="AirPods">AirPods</option>
                    <option value="Fridge">Fridge</option>
                    <option value="Washing Machine">Washing Machine</option>
                    <option value="TV">TV</option>
                </select>
            </div>

            <div class="serviceType" style="display: none;">
                <label for="serviceCategory">Choose the service</label>
                <select name="categoryName" id="serviceCategory" required>
                    <option value="" disabled selected>Select</option>
                    <option value="Installation">Installation</option>
                    <option value="Maintenance">Maintenance</option>
                    <option value="Repair">Repair</option>
                    <option value="Replacement">Replacement</option>
                    <option value="Delivery">Delivery</option>
                </select>
                
            </div>
            
            <br>
            <textarea name="message" placeholder="Write your feedback..." required></textarea>
            <button type="submit" class="submit">Submit</button>
        </form>
        
        
    </body>
    <script src="feedback.js"></script>
</html>