<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login">
        <h1>Welcome Back</h1>

        <!-- Error Message -->
        <% if(error) { %>
            <div class="error-container">
                <p class="error-message"><%= error %></p>
            </div>
            <script>
                setTimeout(() => {
                    const errorEl = document.querySelector('.error-message');
                    if(errorEl) errorEl.style.display = 'none';
                }, 5000);
            </script>
        <% } %>

        <form method="post" action="/login">
            <label><b>Username:</b></label>
            <input type="text" name="userName" required>

            <label><b>Password:</b></label>
            <input type="password" name="password" required>

            <button type="submit" class="btn-login">Continue with Login</button>
        </form>

        <p>Don't have an account? <a class="register"href="/registration">Register here</a></p>

        <div class="guest-container">
            <a href="/feedback" class="btn-guest">Continue without Login</a>
            <a href="/adminLogin" class="btn-admin">Login as Admin</a>
            
        </div>
        
    </div>
</body>
</html>
